html {
  font-size: 20px;
}
body {
  font-size: 1rem;
}

/* header */

header {
  background-color: #f6f5ef;
  border-top: 2px solid #000;
}
header > div {
  position: relative;
  width: 55rem;
  margin: 0 auto;
}
/* float 주면 float에 대한 부모는 높이가 사라짐 */
header > div:after {
  content: '';
  display: block;
  clear: both;
}
header > div h1 {
  float: left;
  padding: 1.1rem 0 1.2rem;
}
header > div nav {
  float: right;
  padding: 2.65rem 0 0 0;
}
header > div nav > ul > li {
  float: left;
}
header > div nav > ul > li > a {
  display: block;
  font-size: 0.7rem;
  color: #333;
  padding: 0.75rem 1.25rem 0;
  height: 2.6rem;
  line-height: 100%;
}
header > div .spot {
  position: absolute;
  top: 0.45rem;
  right: 0;
  margin-right: 2.7rem;
}
header > div .spot li {
  float: left;
  padding: 0 0.75rem;
  position: relative;
}
header > div .spot li a {
  font-size: 0.6rem;
  color: #333;
  line-height: 100%;
}
header > div .spot li:nth-child(1) a img,
header > div .spot li:nth-child(4) a img {
  display: none;
}
header > div .spot li:last-child a img {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/* li ~ li 사이(첫번째 제외) */
header > div .spot li ~ li a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 0.6rem;
  background-color: #e5e5e5;
  transform: translateY(-25%);
}
header > div .spot li:last-child a::after {
  display: none;
}
header .total {
  display: none;
}

/* main */

/* visual */
.visual {
  height: 32.3rem;
  background: url(../images/2021_summer2_bg.jpg) no-repeat center top;
}
.visual .visual-inner {
  position: relative;
  width: 55rem;
  height: 100%;
  margin: 0 auto;
}
.visual .visual-inner > div {
  position: absolute;
}
.visual .img1 {
  max-width: 17.6rem;
  width: 32.6%;
  padding-top: 6.6%;
  padding-left: 1.8%;
}
.visual .img3 {
  bottom: 30.4%;
  right: 11.3%;
  width: 34%;
  max-width: 17.9rem;
}
.visual .img2 {
  bottom: 7.4%;
  left: 33.1%;
  width: 38%;
  max-width: 20.2rem;
}
.visual .img4 {
  bottom: 21.7%;
  right: -11.5%;
  width: 36%;
  max-width: 18.95rem;
}
.visual .common:after {
  content: '';
  height: 3.95rem;
  display: block;
  position: absolute;
  z-index: 10;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}
.visual .img4:after {
  background-image: url(../images/2021_summer2_iced_tea_tit.png);
  top: 103.7%;
  left: -4.4%;
  width: 66%;
  max-width: 12.4rem;
}
.visual .img3:after {
  background-image: url(../images/2021_summer2_blended_tit.png);
  top: 104.6%;
  left: -7.5%;
  width: 62.5%;
  max-width: 11.1rem;
}
.visual .img2:after {
  background-image: url(../images/2021_summer2_frappuccino_tit.png);
  bottom: 19.2%;
  left: -59.9%;
  width: 60%;
  max-width: 12rem;
}
.visual .visual-inner .slogan {
  top: 34%;
  left: 11.9%;
  margin-top: 1.25rem;
  width: 6.25rem;
  height: 1.9rem;
}
.visual .visual-inner .slogan a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0.75rem;
  line-height: 1.7rem;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  color: #595857;
  border: 2px solid #595857;
}
.visual .visual-inner .floating-badge {
  position: fixed;
  top: 7.7rem;
  left: 54.5%;
  width: 7rem;
  margin-left: 24.25rem;
  z-index: 999;
}

/* rewards */

.rewards {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  background: #1e3932;
}
.rewards .flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rewards > div {
  width: 55rem;
  margin: 0 auto;
}
.rewards div h2 {
  padding-left: 2.2rem;
}
.rewards div h2 img {
  width: 8.8rem;
}
.rewards .info {
  width: 39.75rem;
  padding-right: 2rem;
}
.rewards .info h4 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 100%;
}
.rewards .info .signup {
  font-size: 0.9rem;
  color: #fff;
  line-height: 1rem;
  padding-top: 0.6rem;
}
.rewards .info .e-gift {
  color: #fff;
  font-size: 0.7rem;
}
.rewards .info .btn-container {
  width: 9.5rem;
}
.btn {
  box-sizing: border-box;
  min-width: 4rem;
  display: inline-block;
  height: 1.9rem;
  line-height: 1.7rem;
  font-size: 0.7rem;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  background: transparent;
  text-align: center;
  padding: 0 18.5px;
  cursor: pointer;
}
.btn.bg {
  background: #00704a;
  border: none;
  border: 2px solid #00704a;
  margin-right: 0.45rem;
}
.btn.long {
  width: 9.5rem;
}
.underline {
  width: 100%;
  height: 1px;
  background: #4b615b;
  margin: 1rem 0;
}
.mobile-br {
  display: none;
}
