@charset "utf-8";

html {
  font-size: 16px;
}
body {
  font-size: 1rem;
}

/* header */

header {
  border: none;
}
header > div h1 {
  padding: 0.8125rem 0 0.75rem 0.625rem;
}
header > div h1 img {
  width: 2.8125rem;
}
header > div .spot {
  top: 1.3rem;
  right: 2rem;
}
header > div .spot img {
  width: 1.5rem;
}
header > div .spot li ~ li {
  padding-left: 1.6875rem;
}
header > div .spot li ~ li a:after {
  display: none;
}
header > div .spot li:nth-child(2),
header > div .spot li:nth-child(3),
header > div .spot li:nth-child(5) {
  display: none;
}
header > div .spot li span {
  position: absolute;
  left: -9999%;
}
header > div .spot li:nth-child(1) a img,
header > div .spot li:nth-child(4) a img {
  display: inline-block;
}
header .total {
  display: inline-block;
  position: absolute;
  top: 1.3rem;
  right: 1.3rem;
}
header .total img {
  width: 1.5rem;
}
header > div nav {
  display: none;
}

/* main */
.visual {
  height: 250vw;
  background: url(../images/2021_m_summer2_bg.jpg) no-repeat center top;
  background-size: contain;
}
.visual .visual-inner .pc-drink {
  display: none;
}
.visual .visual-inner .m-drink {
  display: block;
}
.visual .visual-inner .pc-slogan {
  display: none;
}
.visual .visual-inner .m-slogan {
  display: block;
}
.visual .visual-inner .img1 {
  width: 60%;
  max-width: none;
  padding-top: 14%;
  margin-left: 0;
  padding-left: 6%;
}
.visual .visual-inner .img2 {
  max-width: none;
  top: 15%;
  right: 0;
  left: auto;
  width: 42.19%;
}
.visual .visual-inner .img3 {
  max-width: none;
  top: 51.9%;
  right: auto;
  left: 11.2%;
  width: 71.5%;
}
.visual .visual-inner .img4 {
  bottom: 12.8%;
  left: auto;
  right: -1%;
  width: 61.1%;
  max-width: none;
}
.visual .common:after {
  max-width: none;
  bottom: auto;
}
.visual .img2:after {
  background-image: url(../images/2021_m_summer2_frappuccino_tit.png);
  top: 15%;
  left: -120%;
  width: 107.6%;
  height: 123px;
}
.visual .img3:after {
  background-image: url(../images/2021_m_summer2_blended_tit_0609.png);
  top: -35.2%;
  left: -1.9%;
  width: 49.61%;
  height: 93px;
}
.visual .img4:after {
  background-image: url(../images/2021_m_summer2_iced_tea_tit.png);
  top: -43.2%;
  left: auto;
  right: 8.5%;
  width: 65.22%;
  height: 151px;
}
.visual .visual-inner .slogan {
  top: 92%;
  left: 50%;
  width: 115px;
  height: 34px;
  margin-left: -57.5px;
}
.visual .visual-inner .floating-badge {
  right: 10%;
}
.visual .visual-inner .floating-badge .pc-bedge {
  display: none;
}
.visual .visual-inner .floating-badge .m-bedge {
  display: block;
}

/* line-notice */
.line-notice {
  height: 11rem;
}
.line-notice-left {
  height: 5.5rem;
  width: 100%;
}
.line-notice-right {
  height: 5.5rem;
  width: 100%;
  top: 5.5rem;
}
.line-notice-bg {
  background: none;
  height: 5.5rem;
  width: 100%;
  margin-left: 0;
  position: relative;
  left: 0;
  margin: 0 auto;
}
.line-notice-bgl {
  height: 5.5rem;
  width: 100%;
}
.line-notice-inner {
  height: 2.75rem;
  margin: 28px 0 0 20px;
  min-width: 495px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line-notice-inner-l {
  height: 2.75rem;
  width: 65%;
}
.line-notice-inner-l .notice-ttl {
  background: url(../images/icon_board_speaker.png) no-repeat center center;
  background-size: 1.65rem 1.6rem;
  height: 1.6rem;
  top: 0;
  left: 0;
}
.line-notice-inner-l dd {
  top: 10px;
  text-indent: 0;
}
.line-notice-inner-l dd ul li a {
  font-size: 1.3rem;
}
.line-notice-inner-r {
  width: 2.75rem;
  height: 2.75rem;
}
.line-notice-inner-r span {
  width: 2rem;
  height: 2rem;
  background-size: 100% auto;
  right: 0;
  left: auto;
  /* top: 7px; */
}
.line-notice-bgr {
  height: 5.5rem;
  width: 100%;
}
.line-notice-bgr a {
  top: 28px;
  left: 50%;
  margin-left: -8rem;
  min-width: 300px;
  width: 15.1rem;
  height: 2.75rem;
}
.line-notice-bgr a .prom-ttl {
  background-size: 100% auto;
  top: 13px;
  left: 0;
  width: 221px;
  height: 28px;
}
.line-notice-bgr a span {
  top: 7px;
  right: 0px;
  width: 2rem;
  height: 2rem;
}

/* rewards */
.rewards {
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}
.rewards .flex-between {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rewards > div {
  width: auto;
  margin: 0;
}
.rewards .flex-between .info .flex-between {
  align-items: center;
  padding-bottom: 0.9rem;
}
.rewards div h2 {
  padding-left: 0;
  padding-bottom: 2rem;
  width: 40%;
  text-align: center;
}
.rewards div h2 img {
  min-width: 6.2rem;
}
.rewards .info {
  width: 90%;
  padding-right: 0;
  text-align: center;
}
.rewards .info h4 {
  font-size: 1.4rem;
  text-align: center;
  line-height: 2rem;
}
.rewards .info .signup {
  line-height: 1.5rem;
}
.rewards .info .e-gift {
  font-size: 0.9rem;
  padding-bottom: 1.5rem;
}
.rewards .info .btn-container {
  width: 90%;
}
.btn {
  width: calc(45% - 5px);
  height: auto;
  font-size: 0.9rem;
  border-radius: 3px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.btn.long {
  width: 80%;
}
.mobile-br {
  display: block;
}
