html {
  font-size: 20px;
}
body {
  font-size: 1rem;
}

/* header */

header {
  background-color: #f6f5ef;
  border-top: 2px solid #000;
}
header > div {
  position: relative;
  width: 55rem;
  margin: 0 auto;
}
/* float 주면 float에 대한 부모는 높이가 사라짐 */
header > div:after {
  content: '';
  display: block;
  clear: both;
}
header > div h1 {
  float: left;
  padding: 1.1rem 0 1.2rem;
}
header > div nav {
  float: right;
  padding: 2.65rem 0 0 0;
}
header > div nav > ul > li {
  float: left;
}
header > div nav > ul > li > a {
  display: block;
  font-size: 0.7rem;
  color: #333;
  padding: 0.75rem 1.25rem 0;
  height: 2.6rem;
  line-height: 100%;
}
header > div .spot {
  position: absolute;
  top: 0.45rem;
  right: 0;
  margin-right: 2.7rem;
}
header > div .spot li {
  float: left;
  padding: 0 0.75rem;
  position: relative;
}
header > div .spot li a {
  font-size: 0.6rem;
  color: #333;
  line-height: 100%;
}
header > div .spot li:nth-child(1) a img,
header > div .spot li:nth-child(4) a img {
  display: none;
}
header > div .spot li:last-child a img {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/* li ~ li 사이(첫번째 제외) */
header > div .spot li ~ li a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 0.6rem;
  background-color: #e5e5e5;
  transform: translateY(-25%);
}
header > div .spot li:last-child a::after {
  display: none;
}
header .total {
  display: none;
}

/* main */

.rewards {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  background: #1e3932;
}
.rewards .flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rewards > div {
  width: 55rem;
  margin: 0 auto;
}
.rewards div h2 {
  padding-left: 2.2rem;
}
.rewards div h2 img {
  width: 8.8rem;
}
.rewards .info {
  width: 39.75rem;
  padding-right: 2rem;
}
.rewards .info h4 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 100%;
}
.rewards .info .signup {
  font-size: 0.9rem;
  color: #fff;
  line-height: 1rem;
  padding-top: 0.6rem;
}
.rewards .info .e-gift {
  color: #fff;
  font-size: 0.7rem;
}
.rewards .info .btn-container {
  width: 9.5rem;
}
.btn {
  box-sizing: border-box;
  min-width: 4rem;
  display: inline-block;
  height: 1.9rem;
  line-height: 1.7rem;
  font-size: 0.7rem;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  background: transparent;
  text-align: center;
  padding: 0 18.5px;
  cursor: pointer;
}
.btn.bg {
  background: #00704a;
  border: none;
  border: 2px solid #00704a;
  margin-right: 0.45rem;
}
.btn.long {
  width: 9.5rem;
}
.underline {
  width: 100%;
  height: 1px;
  background: #4b615b;
  margin: 1rem 0;
}
.mobile-br {
  display: none;
}
